/* RESET */
* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/* COMMON */
html {
    font-family: 'Open Sans', sans-serif;
}

ul li {
    text-decoration: none;
    list-style-type: none;
}

button{
    font-size: 1.1rem;
    border-style: none;
    padding: .4rem 1rem;
    background-color: #0061ff;
    color: white;
}

.start:hover, .free:hover, .free-2:hover{
    background-color: #002f7a;
}

.bigger-container{
    width: 70%;
    max-width: 1200px;
    margin: 0 auto;
}

.smaller-container{
    width: 60%;
    max-width: 1200px;
    margin: 0 auto;
}

.margin-top{
    margin-top: 50px;
}

/* HEADER */
header {
    height: 80px;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.Logo {
    margin: 0px 20px;
}

.header-nav {
    height: 100%;
    display: flex;
    align-items: center;
}

.header-nav ul li{
    display: inline-block;
    padding-right: 1rem;
}

.header-nav a{
    text-decoration: none;
    color: unset;
}

.start{
    margin-right: 10px;
}

/* MAIN */
/* First-Section */
.first-section{
    text-align: center;
    display: flex;
    background-color: #b4d0e7;
    padding-top: 80px;
}

.first-section h1{
    font-weight: 900;
    font-size: 5rem;
}

.img-and-text {
    display: flex;
    margin-top: 20px;
}

.text-box {
    width: 30%;
    min-height: 300px;
}

.text-box > *{
    display: flex;
    margin-top: 30px;
}

.free {
    padding: .8rem 1rem;
}

.text-box i {
    font-size: 3rem;
    position: absolute;
    bottom: 1;
    margin-bottom: 10px;
}

.img-box {
    width: 70%;
    min-height: 300px;
}

.img-box img{
    width: 100%;
}

/* Second-Section */
.grid {
    margin-top: 4rem;
}

.grid h2{
    font-size: 2.4rem;
    padding: .5rem;
    font-weight: 600;
}

.grid input{
    margin: 4rem .5rem;
    padding: .5rem;
    height: 1.5em;
    width: 1.5em;
    border-radius: 50%;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.col {
    width: 30%;
    min-height: 100%;
    border: 1px solid lightgrey;
}

/* .card-content *:not(hr, .free-2){
    padding: .3rem;
} */

.card-content li{
    font-size: .9rem;
}

.price li:nth-child(2){
    color: grey;
}

.free-2{
    padding: .9rem 1.2rem;
    font-size: .9rem;
}

.single{
    font-size: .9rem;
    border-bottom: 1px solid lightgrey;
    text-align: center;
}

.card-content h1, h4{
    font-weight: 600;
}

.card-content span{
    display: block;
}

.card-content button{
    width: 100%;
}

.card-content button + span{
    font-size: .9rem;
}

.card-content a{
    color: blue;
    text-decoration: underline;
}

.points i{
    color: blue;
}

.card-content hr {
    width:25%;
}

.card-two {
    width: 100%;
    border: 1px solid lightgrey;
    margin-top: 2rem;
}

.card-content p{
    font-weight: 300;
    font-size: 1rem;
}

.card-content{
    padding: 2em;
    padding-top: 0;
}

.card-content *{
    margin-top: 1.2rem;
}

.card-content .single{
    margin-top: 0;
    padding-bottom: .5em;
}

/* Third-Section */
#partner{
    width: 80%;
}

.partner-button{
    border: 1px solid black;
    background-color: white;
    color: black;
}

/* Fourth-Section */
.col-2 {
    width: 30%;
    margin-top: 10px;
}

.grid-2 h1{
    font-size: 2.4rem;
    padding: 2rem 0;
}

/* Fifth-Section */
.adv-section{
    display: flex;
}

.adv-section img{
    width: 100%;
    padding: 25%;
}

.last-section-head{
    min-height: 500px;  
    display: flex;
    align-items: center;
}

.last-section-head h1{
    font-size: 2.4rem;
}

.last-section-head a{
    color: blue;
    text-decoration: underline;
}

.square {
    width: calc(100% / 3);
    height: 33vw;
    display: flex;
    flex-wrap: wrap;
}

/* .square:after {
    content: "";
    display: block;
    padding-top: 100%;
} */

.square-2 {
    width: calc(100% / 2);
    display: flex;
    align-items: center;
    justify-content: center;
}

.last-section-foot{
    width: 100%;
    display: flex;
    background-color: #b4d0e7;
}

.img-and-text-2{
    height: 300px;
    display: flex;
    align-items: center;
}

.img-box-2{
    width: 50%;
}

.text-box-2{
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.last-section-foot h1{
    color: #61082b;
}

.free-trial{
    background-color: white;
    color: black;
}

.borders{
    border: -1rem solid #d1e9cd;
}

.color1{
    background-color: #a2d39b;
}

.color2{
    background-color: #61082b;
}

.color3{
    background-color: #0093ce;
}

.color4{
    background-color: #ff1c1c;
}

.color5{
    background-color: #f5f5f5;
}

.color6{
    background-color: #d5001f;
}

.color7{
    background-color: #b4d0e7;
}

.color8{
    background-color: #0d2481;
}

.color9{
    background-color: #ffd830;
}

/* FOOTER */
/* Footer-Top */
.footer-top{
    min-height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.faq ul h1{
    font-size: 2.4rem;
    padding-bottom: 1rem;
}

.faq ul li{
    padding: 2rem 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid grey;
}

.faq ul i {
    padding-right: 1em;
}

/* Footer-Bot */
.footer-bot{
    min-height: 500px;
    background-color: black;
    padding-top: 2rem;
}

.col-20{
    width: calc(100% / 5);
    color: white;
}

.footer-bot .row{
    padding-bottom: 3rem;
}

.col-20 ul li{
    padding: .8rem 0;
}

.bigger-container hr{
    width: 10%;
}

.language{
    color: grey;
    padding-top: 2rem;
}
